.invoice-balance{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0px 5px 0px 5px;
    align-items: center;
    border-radius:5px;
    border:1px solid lightgray;
}