

@media print {

  * {
    outline: none;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #balance-due{
    background-color: gainsboro;
    
    td:first-child{
      padding-left: 20px;
      border-radius: 5px 0px 0px 5px;
    }
    td:nth-child(2){
      border-radius: 0px 5px 5px 0px;
    }
  }

  
}


.invoice-page {
  width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  min-height: 100%;
}
.heading {
  display: flex;
  justify-content: space-between;
}


#balance-display {
  text-align: end;
}

#balance-display > #balance {
  font-weight: bold;
  background-color: lightgray;
  border-radius: 5px;
}
#balance-display > span {
  padding: 5px 0px;
  display: inline-block;
}
#balance-display > table > tr > td:first-child {
  padding-right: 30px;
}

#balance-display > table > tr:nth-child(2) {
  font-weight: bold;
  background-color: lightgray;
  border-radius: 5px;
}
#balance-display > table > tr {
  margin: 10px 0px;
}
#balance-display > table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}
#balance-display > table > tr > td:first-child {
  border-radius: 5px 0px 0px 5px;
  padding-left: 20px;
}

#balance-display > table > tr > td:nth-child(2) {
  border-radius: 0px 5px 5px 0px;
}

.body {
  table {
    width: 100%;
    margin-top: 20px;
    tr:first-child {
      background-color: rgb(80 78 78);
      color: white;

      th:nth-child(1) {
        border-radius: 3px 0px 0px 3px;
        width: 15%;
      }
      th:nth-child(2) {
        width: 40%;
      }
      th:nth-child(3) {
        width: 15%;
        text-align: center;
      }
      th:nth-child(4) {
        width: 15%;
        text-align: end;
      }
      th:nth-child(5) {
        border-radius: 0px 3px 3px 0px;
        width: 15%;
        text-align: end;
      }
      th {
        border-right: 0.2px dotted whitesmoke;
        padding: 0px 5px;
      }
    }
    tr:not(:first-child) {
      td {
        padding: 0px 5px;
      }
      td:nth-child(2) {
        font-weight: bold;
      }
      td:last-child {
        text-align: end;
      }
      td:nth-last-child(2) {
        text-align: end;
      }
      td:nth-last-child(3) {
        text-align: center;
      }
    }
  }
}
.ending {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  div {
    table {
      text-align: end;
      border-collapse: separate;
      border-spacing: 0px 10px;
      tr{
          td:first-child{
            padding-right: 30px;
          }
      }
    }
  }
}


footer{
  text-align: center;
  bottom:0px;
  width: inherit;
  position: absolute;
  p{
    color:lightgray;
  }

}
