<div class="invoice-page">
  <div class="heading">
    <div>
      <address class="address mat-body" id="to">
        <span class="mat-body-strong">SVF FLOWER STALL</span><br />
        <span class="mat-body-strong">D.G.Prakash</span><br />
        Raitu Bazar<br />
        Near RTC Bust Stand<br />
        Guntur, Andhra Pradesh<br />
        India-522002
      </address>

      <address class="address mat-body" id="from">
        Bill To:<br />
        <span class="mat-body-strong" *ngIf="from?.firstName"
          >{{ from?.firstName | titlecase}}<br
        /></span>
        <span *ngIf="from.address.shopname"
          >{{ from?.address?.shopname | titlecase}}<br
        /></span>
        <span *ngIf="from?.phone_no">+91 {{ from?.phone_no }}<br /></span>
        <span *ngIf="from?.address?.city">{{ from?.address?.city | titlecase}}<br /></span>
        <span *ngIf="from?.address?.state"
          >{{ from?.address?.state | titlecase}}<br
        /></span>
        <span *ngIf="from?.address?.country">{{ from?.address?.country | titlecase}}</span>
      </address>
    </div>
    <div>
      <div style="text-align: end">
        <h1 class="mat-display-1">INVOICE</h1>
      </div>
      <div id="balance-display">
        <table class="mat-body">
          <tr>
            <td style="padding-left: 0px;text-align: end;">Date:</td>
            <td *ngIf="invoiceDate;else currentDate">{{ invoiceDate | date }}</td>
            <ng-template #currentDate>{{ todayDate | date }}</ng-template>
          </tr>

          <tr class="mat-body-strong" id="balance-due">
            <td>Balance Due:</td>
            <td style="text-align: end">
              {{ totalPrice + prevBalance | currency: "INR":"symbol" }}&nbsp;
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="body">
    <table>
      <tr>
        <th *ngIf="individualDates">S.No.</th>
        <th *ngIf="!individualDates">Date</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
      <tr class="mat-body" *ngFor="let item of itemsList;let sno=index;">
        <td *ngIf="individualDates">{{ sno+1 }}</td>
        <td *ngIf="!individualDates">{{ item.date | date }}</td>
        <td>{{ item.name | titlecase}}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unit_cost | currency: "INR":"symbol" }}</td>
        <td>{{ item.quantity * item.unit_cost | currency: "INR":"symbol" }}</td>
      </tr>
      </table>
  </div>
  <div class="ending mat-body">
    <div>
      <table>
        <tr>
          <td>Sub Total:</td>
          <td>{{ totalPrice | currency: "INR":"symbol" }}</td>
        </tr>
        <tr>
          <td>Previous Balance:</td>
          <td>{{ prevBalance | currency: "INR":"symbol" }}</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td>{{ totalPrice + prevBalance | currency: "INR":"symbol" }}</td>
        </tr>
      </table>
    </div>
  </div>
  <!--
  <footer>
    <p>This is a computer generated invoice<br>
  </footer>
  -->
</div>
