<app-toolbar
  >Transactions
  <button
    mat-button
    color="primary"
    role="button-operate"
    (click)="payment_action()"
  >
    Add Payment
  </button>
</app-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 transaction-col">
      <app-sale-dates
        [personId]="personId"
        (selectedDate)="fetchInvoiceData($event)"
      ></app-sale-dates>
    </div>

    <div class="col-md-7 transaction-col">
      <div class="col-md-12">
        <div class="invoice-action-panel">
          <button
            mat-icon-button
            style="background-color: darkgrey"
            aria-label="Download invoice"
            printSectionId="print-section"
            ngxPrint
            [useExistingCss]="true"
          >
            <mat-icon>save_alt</mat-icon>
          </button>
        </div>
      </div>
      
        <app-invoice
          [from]="userDetails"
          [individualDates]="true"
          [invoiceDate]="selectedDate"
          [itemsList]="formattedItems"
          [prevBalance]="
            prevBalance === null || prevBalance < 0 ? 0 : prevBalance
          "
          id="print-section"
        ></app-invoice>
      
    </div>

    <div class="col-md-3 transaction-col">
      <app-payment-history
        [invoiceDate]="selectedDate"
        [userId]="personId"
      ></app-payment-history>
    </div>
  </div>
</div>
