<mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened >
        <mat-nav-list>
            <mat-list-item routerLinkActive="active" routerLink="customers" >
               <a matLine matTooltip="Customers"><mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
               </a>
               <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item routerLinkActive="active" routerLink="items">
                <a matLine  matTooltip="Products"> <mat-icon aria-hidden="false" aria-label="Example home icon">local_florist</mat-icon></a>
                <mat-divider></mat-divider>
             </mat-list-item>
             <mat-list-item routerLinkActive="active" routerLink="invoice">
                <a matLine  matTooltip="Invoice"><mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon></a>
                <mat-divider></mat-divider>
             </mat-list-item>
            
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  